/* ———————————————————— abstract ———————————————————— */

.abstract h2 {
    color: #F7F8F4;
    text-align: left;
    font-size: 1.3em;
    font-weight: normal;
    padding:  0 0 2.5vh 0;
}

.abstract p {
    padding-bottom: 3vh;  /* 设置内边距 */
}

/* ———————————————————— publications ———————————————————— */

.publication_list {
    background-color: #FF7E6F;
    width: 100%;
    display: block;
    padding-bottom: 60px;
}

.publication {
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
    padding: 20px 0;
}

/* Publication Image */
.pub-img {
    width: 120px;  /* 设置图片大小 */
    height: 120px;  /* 保持图片为正方形 */
    object-fit: cover;  /* 图片不变形并填满容器 */
    border-radius: 50%;  /* 图片圆形效果 */
    margin-right: 20px;  /* 图片与文字内容之间的间距 */
}

/* Publication Content */
.pub-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Title Style */
.pub-title {
    font-size: 1.6em;
    font-weight: bold;
    color: #F7F8F4;
    margin: 0;
}

/* Author Style */
.pub-author {
    font-size: 1.1em;
    font-weight: lighter;
    font-style: italic;
    color: #F7F8F4;
    margin: 5px 0;
}

/* Conference Style */
.pub-conference {
    font-size: 1.1em;
    font-weight: normal;
    color: #F7F8F4;
    margin: 5px 0;
}

.pub-links {
    color: #D7E7FF;
}
