/* ———————————————————— abstract ———————————————————— */

.abstract {
    width: 100%;
    display: block;
    padding-top: 10vh;
    /* background-image: linear-gradient(to bottom, #148a8e, #008093, #007596); */
    background-color: #F5F5F3;
}

/* .abstract h2 {
    color: #FF7E6F;
    text-align: left;
    font-size: 3em;
    font-weight: normal;
    padding:  10vh 0 6vh 0;
} */

.abstract p {
    text-align: left; /* 确保文字左对齐 */
    padding-bottom: 8vh;  /* 设置内边距 */
}

/* ———————————————————— projects ———————————————————— */

.projects {
    width: 100%;
    display: block;
    padding-bottom: 0;
    /* background-image: linear-gradient(to bottom, #007596, #006997, #005c93, #14548e, #214c89, #2b4482, #32407d, #373c77, #3b3872, #3e346c); */
    background-color: #F5F5F3;
}

.project img {
    width: 100%;  /* 图片宽度填满容器 */
    height: 30vh; /* 设置固定高度 */
    object-fit: cover;  /* 保证图片按比例适配并填满容器 */
    border-radius: 2.5%;  /* 可选，给图片圆角效果 */
}

/* ———————————————————— footer ———————————————————— */
/* 
footer {
    background-color: #afe733;
} */